@model Personel

<form method="post" asp-controller="personel" asp-action="create">
	<div class="row mt-3">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
		
	<div class="form-group">
		<label asp-for="KimlikNo">KimlikNo</label>
		<input asp-for="KimlikNo" class="form-control" />
		<span asp-validation-for="KimlikNo" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Ad">Ad</label>
		<input asp-for="Ad" class="form-control" />
		<span asp-validation-for="Ad" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Soyad">Soyad</label>
		<input asp-for="Soyad" class="form-control" />
		<span asp-validation-for="Soyad" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Zaman">Zaman</label>
				<input asp-for="Zaman" class="form-control" type="date" />
		<span asp-validation-for="Zaman" class="text-danger"></span>
	</div>

	<div class="row mt-3 ">

		<div class="col-md-4 ">
			<select asp-for="FakulteId" asp-items="@ViewBag.Fakultes" class="form-select" size="7" aria-label="Size 7 select example">
				<option selected disabled>Fakülte Seçiniz</option>
			</select>
			<span asp-validation-for="FakulteId" class="text-danger"></span>
		</div>
		<div class="col-md-4 ">
			<select asp-for="BolumId" asp-items="@ViewBag.Bolums" class="form-select" size="7" aria-label="Size 7 select example">
				<option selected disabled>Bölüm Seçiniz</option>
			</select>
			<span asp-validation-for="BolumId" class="text-danger"></span>
		</div><div class="col-md-4 ">
			<select asp-for="AbdId" asp-items="@ViewBag.Abds" class="form-select" size="7" aria-label="Size 7 select example">
				<option selected disabled>Fakülte Seçiniz</option>
			</select>
			<span asp-validation-for="AbdId" class="text-danger"></span>
		</div>
	</div>

	<div class="d-grid gap-2 mt-3 justify-content-center">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</form>



