
<h1 class="nav justify-content-center">01 Ocak tarihinde yıllık izinleri güncellemek için tıkla</h1>
<form method="post" asp-controller="Personel" asp-action="Update">
	<div class="d-grid gap-2 mt-3 justify-content-center">
		<button type="submit" class="btn btn-primary">Güncelle</button>
	</div>

	

</form>